@model CandidatePortfolioSite.Models.Candidates


@{
    ViewData["Title"] = "InsertCandidate";
    Layout = null;


}
<style>

    #mySidenav a {
        position: absolute;
        right: -60px;
        transition: 0.3s;
        padding: 15px;
        width: 100px;
        text-decoration: none;
        font-size: 20px;
        color: #4682B4;
        border-radius: 0 5px 5px 0;
        border-color: gold;
    }

        #mySidenav a:hover {
            right: 0;
        }

    #login {
        top: 20px;
        border-color: #87CEEB;
        background-color: #F0F8FF;
    }

    #candidates {
        top: 80px;
        border-color: #87CEEB;
        background-color: #87CEEB;
    }

    #signout {
        top: 140px;
        border-color: #87CEEB;
        background-color: #87CEEB;
    }

    body {
        background-color: #ADD8E6;
    }

    .container {
        padding: 15px;
        background-color: #F0F8FF;
        border-radius: 15px;
        margin: auto;
        width: 80%;
    }

    .titleContainer {
        padding: 15px;
        background-color: #F0F8FF;
        border-radius: 15px;
        margin: auto;
        width: 80%;
    }



    .MapContainer {
        padding: 50px;
        background-color: #F0F8FF;
        border-radius: 15px;
        margin: auto;
        width: 80%;
        height: 600px;
        display: none;
        margin-left: auto;
        margin-right: auto;
    }


    .innerContainer {
        padding: 15px;
        background-color: #F0F8FF;
        margin: auto;
        width: 30%;
    }

    .innerContainer {
        padding: 15px;
        background-color: #F0F8FF;
        margin: auto;
        width: 70%;
    }

    .iconImage {
        padding: 5px;
        background-color: #F0F8FF;
        margin: auto;
        width: 80%;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    .Largercenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    .MapCenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 98%;
        height: 100%;
    }

    .insert {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    input[type=text] {
        border: 2px solid #4682B4;
        border-radius: 4px;
    }

    input[type=password] {
        border: 2px solid #4682B4;
        border-radius: 4px;
    }


    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tr:hover {
        background-color: #ADD8E6;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }


    .listPhrase {
        display: block;
    }

    .mapPhrase {
        display: none;
    }
</style>

@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    string loggedInUser = HttpContextAccessor.HttpContext.Session.GetString("_Username");
    string AdminUser = HttpContextAccessor.HttpContext.Session.GetString("_IsAdmin");
    string JWT = HttpContextAccessor.HttpContext.Session.GetString("_JWT");


    if (loggedInUser == null)
    {
        Context.Response.Redirect("http://localhost:13418/Login/Login");
    }


}

<div class="container">
    <div class="center">
        <h1>Add Education</h1>


        <hr />
        <form asp-action="InsertEducation">





            @{
                if (AdminUser == "Yes")
                {

                    <div class="innerContainer">
                        <label asp-for="Username" class="center">Enter this user's Username</label>
                        <input asp-for="Username" class="center" required />

                    </div>
                }

                if (AdminUser == "No")
                {
                    if (loggedInUser != null)
                    {
                        <div class="innerContainer">
                            <label asp-for="Username" class="center">Username</label>
                            <input asp-for="Username" class="center" readonly />

                        </div>
                    }

                }



            }

            <div class="innerContainer">
                <label asp-for="InstitutionName" class="center">Name of Institution or School</label>
                <input asp-for="InstitutionName" class="center" required />



            </div>

            <div class="innerContainer">
                <label asp-for="CourseName" class="center">Name of Course or Subject</label>
                <input asp-for="CourseName" class="center" required />



            </div>

            <div class="innerContainer">
                <label asp-for="StudyType" class="center">Level of Education</label>
                <input asp-for="StudyType" class="center" required />



            </div>


            <div class="innerContainer">
                <input type="submit" value="Add Education" class="center" />

            </div>

        </form>
    </div>

</div>
<div>

    @Html.ActionLink("Back to List", "Candidates", "Candidates")
</div>